{% block signature_widget %}

{# This widget's value will contain the signature's data #}
{{ block('hidden_widget') }}

<script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>

{# TODO Customise these properties through SignatureType #}
<canvas id="{{ id }}Canvas" width="{{form.vars.width}}" height="{{form.vars.height}}" style="{{form.vars.style}}" class="signature">
</canvas>

{% if not data %}
<input id="{{ id }}Clear" type="button" value="{{form.vars.cleartext}}" class="signature-clear"/>
{% endif %}

<script type="text/javascript">
var signature = document.getElementById("{{ id }}Canvas");

{# Populates the signature field and disables the pad if data is given #}
{% if data %}
  var signaturePad = new SignaturePad(signature)
  signaturePad.fromDataURL("{{ data }}")
  signaturePad.off()
{# else generate a new Pad and set it up for POSTs #}
{% else %}
  var signaturePad = new SignaturePad(signature, { onEnd: function(){ document.getElementById("{{ id }}").value=this.toDataURL() } })
{% endif %}

  $('{{ id }}Clear').click(function () {
    signaturePad.clear();
    signaturePad.on();
    signaturePad.onEnd = function() {
      document.getElementById("{{ id }}").value=this.toDataURL()
    }
  });
</script>

{%endblock%}
